
#barre_nav{
  background: black;
  height: 56px;
  /*padding-top: 5px;*/
  vertical-align: center;
}

#titre{
  font-family: "Lucida Console", Courier, monospace;
  text-shadow: white 0 -1px;
}

#navbarSupportedContent{
  margin: 8px; 
}

.nav-item:hover{
  background-color: orange;
  border-radius: 10px;
  width: 70%;
}

#image_ballon{
  margin-bottom: 5px;
}

body{
  background-color: #303030; 
  overflow-x: scroll;
  overflow-y: scroll; 
}

.collapse.width,
.collapsing.width {
  max-width: 0;
  min-width: 0;
  width: 0;
  transition: all .2s ease;
}

.collapse .flex-column {
  overflow: auto;
  flex-wrap: nowrap; /* Optional, if you don't want the links to form columns if they overflow */
}

.collapse .flex-column li { 
  width: 100%; 
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}


.sidebar {
  width: 20%;
  margin-top: 56px;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 100; /* Behind the navbar */
  padding: 0px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  background-color: #b9b7b7;
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}
#list-home-list{
  height: 50px;
  width: 49%;
}
#ul{
  padding-left: 15px;
  padding-right: 15px;
}
#list-home-list{
  padding-right:10px; 
  width: 99%
}
#bouton{
  margin-left: 15px;
}
#arbre{
  height: 150px;
  width: 80%;
}

#sidebarMenu{
  min-width: 50px;
  overflow-y: scroll;
  overflow-x: hidden;
}

#terrain{
  margin-top: 2%;
  margin-left: 5%;
  width: 75%;
  height: auto;
}

#demiTerrainDroit{
  margin-top: 2%;
  margin-left: 20%;
  width: 75%;
  height: auto;
}

#demiTerrainGauche{
  margin-top: 2%;
  margin-left: 20%;
  width: 75%;
  height: auto;
  /*transform: rotate(90deg);*/
}

.boutons {
  margin-top: 5px;
}



#bouttonadd:active{
box-shadow: 1px 1px 10px black inset, 0 1px 0 rgba( 255, 255, 255, 0.4); 
}

.red {
  
  box-shadow: 1px 1px 10px black inset, 0 1px 0 rgba( 255, 255, 255, 0.4); 
  
}

.yay {
  display: none;
}

.popup .overlay {
  
  top:0px;
  left:0px;
  z-index:1;
  display:none;
}

 
.popup .content {
  position:absolute;
  top:183px; 
  left:215px;
  transform:translate(-50%,-50%) scale(0);
  background:#fff;
  width:430px;
  height:370px;
  z-index:2;
  text-align:center;
  padding:20px;
  box-sizing:border-box;
  font-family:"Open Sans",sans-serif;
}
 
.popup .close-btn {
  cursor:pointer;
  position:absolute;
  right: 15px;
  top:20px;
  width:30px;
  height:30px;
  background:#222;
  color:#fff;
  font-size:25px;
  font-weight:600;
  line-height:30px;
  text-align:center;
  border-radius:50%;
}

 
.popup.active .overlay {
  display:block;
}
 
.popup.active .content {
  transition:all 300ms ease-in-out;
  transform:translate(-50%,-50%) scale(1);
}

.test{
  width: 155px;
  height: 40px;
  display: block;
}

.popupT .content {
  position:absolute;
  top:98px; 
  left:750px;
  transform:translate(-50%,-50%) scale(0);
  background:#fff;
  width:200px;
  height:80px;
  z-index:2;
  text-align:center;
  
  box-sizing:border-box;
  font-family:"Open Sans",sans-serif;
}
 
.popupT .close-btn {
  cursor:pointer;
  position:absolute;
  right: 10px;
  top:20px;
  width:30px;
  height:30px;
  background:#222;
  color:#fff;
  font-size:25px;
  font-weight:600;
  line-height:30px;
  text-align:center;
  border-radius:50%;
}



 
.popupT.active .overlay {
  display:block;
}
 
.popupT.active .content {
  transition:all 300ms ease-in-out;
  transform:translate(-50%,-50%) scale(1);
}


.popupL .content {
  position:absolute;
  top:98px; 
  left:865px;
  transform:translate(-50%,-50%) scale(0);
  background:#fff;
  width:200px;
  height:80px;
  z-index:2;
  text-align:center;
  
  box-sizing:border-box;
  font-family:"Open Sans",sans-serif;
}
 
.popupL .close-btn {
  cursor:pointer;
  position:absolute;
  right: 10px;
  top:20px;
  width:30px;
  height:30px;
  background:#222;
  color:#fff;
  font-size:25px;
  font-weight:600;
  line-height:30px;
  text-align:center;
  border-radius:50%;
}

 
.popupL.active .overlay {
  display:block;
}
 
.popupL.active .content {
  transition:all 300ms ease-in-out;
  transform:translate(-50%,-50%) scale(1);
}


.skin_barre  /* on reprend le nom qu'on a mis dans 'class=' */
{

  width:30px;
  height:300px;
  /* on définit la taille du div (celle de l'image) */


  /* et sa position initiale */

  position:absolute;
  /* le div n'est plus fixe mais libre */

  background-image:url('degrade.jpg');
  /* on définit ici l'image à afficher dans le div */

  cursor:s-resize;
  /* et enfin on définit le curseur à afficher lorsque la souris passe sur ce div */
}



/* =====  de même pour les autres  ===== */
/* skin curseur1*/
.skin_curseur1
{
  width:45px;
  height:15px;
  position:absolute;
  top:12px;
  left:15px;
  cursor:s-resize;
  background-image:url('curseur1.png');
}



/*skin carre */

.skin_carre
{
  width:300px;
  height:300px;
  position:absolute;
  top:20px;left:60px;
  cursor:move;
  background-color:red;  /* on définit la couleur initiale du carré */
  background-image:url('degrade_n-b.png');
}


/*skin curseur2*/
.skin_curseur2
{
  width:20px;
  height:20px;
  position:absolute;
  top:10px;
  left:350px;
  cursor:move;
  background-image:url('curseur2.png');
}



/* skin resultat */
.skin_resultat
{
  position:absolute;

  top:330px;
  left:60px;
  border:1px solid black; /* dessine un cadre noir autour du 'input' et d'un pixel d'épaisseur */
  text-align:center;  /* on aligne le texte au centre */
}
